/* Project Container for carousel */
.projects-container {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
  gap: 20px; /* Space between cards */
  flex-wrap: wrap; /* Ensure items wrap on smaller screens */
}

/* Each project card container (Keep this separate from individual card styles) */
.projects-container .project-card {
  width: 30%; /* Adjust based on your desired layout */
  min-height: 350px; /* Ensures cards have enough space for content */
  box-sizing: border-box;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* "More" Button Container */
.projects-container .more-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Button Style */
.projects-container .more-button-container .button {
  padding: 0.4rem 1rem;
  font-size: 1rem;
  color: #333;
  background-color: transparent;
  border: 2px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s, color 0.3s, background-color 0.3s;
}

.projects-container .more-button-container .button:hover {
  color: #fff;
  border-color: #0056b3;
  background-color: #007bff;
}

/* Adjusting carousel arrows */
.carousel-container {
  margin-top: 20px; /* Adds space between the arrows and the cards */
  padding-top: 10px;
  display: flex;
  justify-content: center;
}


.carousel-arrow {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin: 0 10px; /* Spacing between arrows */
}
