.container {
    display: flex;
    justify-content: space-between; 
    align-items: stretch; 
    height: 100%; /* Allow full height for alignment */
}

  
  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .iconsColumn {
    width: 45%; /* Adjust the width to leave space for the text column */
  }
  
  .textColumn {
    width: 45%;
  }
  
  .majorIcons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 icons per row */
    grid-auto-rows: 1fr; 
    gap: 40px; /* Space between icons */
    justify-items: center; 
    align-items: center; 
    height: 100%; 
    list-style: none;
}


  
  .icon {
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .icon:hover {
    transform: scale(1.2); /* Slightly enlarge icon on hover */
    color: #868efe; 
  }
  
  .tooltip {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 14px;
  }
  
  .skills-list h3 {
    margin-top: 20px;
    color: #fff;
  }
  
  .skills-list ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .skills-list li {
    color: white;
  }
  
  #skills {
    padding: 50px 0; /* Add space at the top and bottom */
}